desafio3TP/desafioaula2/data/ev_sales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="ev_sales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sale" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="region" type="xs:string"/>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="parameter" type="xs:string"/>
              <xs:element name="mode" type="xs:string"/>
              <xs:element name="powertrain" type="xs:string"/>
              <xs:element name="year" type="xs:short"/>
              <xs:element name="unit" type="xs:string"/>
              <xs:element name="value" type="xs:string"/>
              <xs:element name="percentage" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>


